---
import Inputs from "./inputs";
import Renderer from "./renderer";
---

<div class="mb-5 p-4">
  <h1 class="font-bold text-xl text-center mb-4">
    Flyers para "El Loco y la camisa"
  </h1>
  <div class="max-w-lg mx-auto text-sm">
    <Inputs client:only />
    <Renderer
      client:only
      name="loco_camisa_flyer"
      src="flyer-a5.png"
      config={{
        width: 1000,
        fecha: {
          fonSize: 66,
          textAlign: "center",
          shadowBlur: 12,
          x: 400,
          y: 1265,
        },
        direccion: {
          fonSize: 38,
          textAlign: "center",
          shadowBlur: 12,
          x: 400,
          y: 1325,
        },
        qr: {
          x: 790,
          y: 1290,
          width: 180,
          shadowBlur: 12,
        },
      }}
    />
    <h2 class="font-bold pt-5 text-2xl">Los Andes Pass</h2>
    <Renderer
      client:only
      name="loco_camisa_300x100_mobile"
      src="loco-1.png"
      config={{
        fecha: {
          splitted: true,
          fonSize: 16,
          textAlign: "center",
          shadowBlur: 6,
          x: 254,
          y: 26,
        },
      }}
    />
    <Renderer
      client:only
      name="loco_camisa_300x250_mobile"
      src="loco-2.png"
      config={{
        fecha: {
          fonSize: 18,
          textAlign: "center",
          shadowBlur: 12,
          x: 150,
          y: 175,
        },
        direccion: {
          fonSize: 14,
          textAlign: "center",
          shadowBlur: 12,
          x: 150,
          y: 195,
        },
      }}
    />
    <Renderer
      client:only
      name="loco_camisa_300x600_mobile"
      src="loco-3.png"
      config={{
        fecha: {
          fonSize: 22,
          textAlign: "center",
          shadowBlur: 12,
          x: 150,
          y: 487,
        },
        direccion: {
          fonSize: 14,
          textAlign: "center",
          shadowBlur: 12,
          x: 150,
          y: 515,
        },
      }}
    />
    <Renderer
      client:only
      name="loco_camisa_970x90_desktop"
      src="loco-4.png"
      config={{
        fecha: {
          fonSize: 28,
          textAlign: "center",
          shadowBlur: 12,
          x: 645,
          y: 40,
        },
        direccion: {
          fonSize: 17,
          textAlign: "center",
          shadowBlur: 12,
          x: 645,
          y: 70,
        },
      }}
    />
    <Renderer
      client:only
      name="loco_camisa_600x200_mailing"
      src="mailing-600x200.png"
      config={{
        fecha: {
          splitted: true,
          fonSize: 24,
          textAlign: "center",
          shadowBlur: 12,
          x: 530,
          y: 40,
        },
        direccion: {
          splitted: true,
          fonSize: 12,
          textAlign: "center",
          shadowBlur: 12,
          x: 520,
          y: 110,
        },
      }}
    />
    <Renderer
      client:only
      name="loco_camisa_impreso"
      src="impreso.png"
      config={{
        fecha: {
          fonSize: 58,
          textAlign: "center",
          shadowBlur: 40,
          x: 2630,
          y: 120,
        },
        direccion: {
          fonSize: 34,
          textAlign: "center",
          shadowBlur: 40,
          x: 2630,
          y: 180,
        },
        qr: {
          x: 2500,
          y: 480,
          width: 260,
          shadowBlur: 40,
        },
      }}
    />
  </div>
</div>

<!-- <script>
  import Flyer from "../js/flyer";

  const img = new Image();
  img.src = "/flyer-a5.jpg";
  img.onload = () => {
    const flyer = new Flyer("canvas-flyer", img);
  };
</script> -->
