---
import "./style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Flyers para "El Loco y la camisa"</title>
  </head>
  <body class="bg-gray-200">
    <slot />
  </body>
</html>
